#build-errors {
  padding: 1em;
  background-color: #111;
  color: #DDD;
}

#build-errors pre {
    margin: 0;
}

body {
  background-color: #222;
}

.splitView {
  display: flex;
}

.splitView > * {
  margin: 1em;
}

.row {
  display: flex
}
div {
  box-sizing: border-box;
}

.row > * {
  width: 64px;
  height: 64px;
  background-size: cover;
}

.superposition {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  justify-content: space-around;
  align-items: center;
}
.superposition > * > * {
  width: 14px;
  height: 14px;
  font-size: 7px;
  line-height: 7px;
  text-align: center;
  margin: 1px;
  background-size: cover;
  transition: width 0.5s, height 0.5s;
}

.superposition > .off > * {
  color: #BBB;
  width: 0;
  height: 0;
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples > * {
  width: 100px;
  height: 100px;
  font-size: 80%;
  background-size: cover;
  margin: 10px;
}

